@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');

html {
    background-color: #ddd;
}

body {
    background-color: #aaa;
    min-height: 100vh;
    font-family: 'Arima Madurai', cursive;
    margin: 0;
    position: relative;
    line-height: 1.5;    
    padding-bottom: 34px;
    box-sizing: border-box;
}

header,
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    bottom: 0;
    width: 100vw;
    max-width: 100%;
    text-align: right;
    padding: 5px 10px;
    box-sizing: border-box;
    position: absolute;
}

.dog-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.dog-list__item:not(last-of-type) {
    margin-right: 20px;
}

.dog-list__dog {
    cursor: pointer;
}

.dog-list__click-counter {
    text-align: right;
    margin: 0;
}