@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:400,700');

html {
    background-color: #ddd;
}

body {
    background-color: #aaa;
    min-height: 100vh;
    font-family: 'Arima Madurai', cursive;
    margin: 0;
    position: relative;
    line-height: 1.5;    
    padding-bottom: 34px;
    box-sizing: border-box;
}

header,
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

main {
    align-items: flex-start;
}

footer {
    bottom: 0;
    width: 100vw;
    max-width: 100%;
    text-align: right;
    padding: 5px 10px;
    box-sizing: border-box;
    position: absolute;
}

.dog-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: column;
    justify-content: center;
}

.dog-list__item {
    padding: 0 10px;
}
.dog-list__item:nth-child(n+2) {
    padding-top: 5px;
}

.dog-list__item:nth-last-child(n+2) {
    padding-bottom: 5px;
}

.dog-list__item:hover,
.dog-list__item:focus,
.dog-list__item--selected {
    outline-width: 0;
    color: darkviolet;
}

.dog-list__item:hover,
.dog-list__item:focus {
    cursor: pointer;
    opacity: 0.7;
}

.dog-list__item.dog-list__item--selected {
    opacity: 1;
}
.dog[aria-hidden='true'] {
    visibility: hidden;
}

.dog__name {
    margin-top: 0;
}
.dog__image {
    cursor: pointer;
    border: 5px solid white;
}

.dog__click-counter {
    text-align: right;
    margin: 0;
}